{% extends "workshops/base.html" %}

{% block title %}Taller: {{ workshop.title }} | {{ block.super }}{% endblock %}

{% block content %}
<h2>Taller: {{ workshop.title }}</h2>

<p>
{{ workshop.description|safe }}
</p>

<p>
<strong>Costo:</strong> {{ workshop.cost }} Bs. 
<strong>Duración:</strong> {{ workshop.duration|time:"f" }} horas. 
</p>

{% if workshop.is_open_for_registration %}
<p>Hay {{ workshop.registration_count }} de {{ workshop.max_registrations }} inscritos.</p>
{% else %}
<p>El número máximo de participantes ya ha sido alcanzado.</p>
{% endif %}
{% endblock %}
