{% extends "workshops/base.html" %}

{% block title %}Taller: {{ workshop.title }} | {{ block.super }}{% endblock %}

{% block content %}
<h2>Taller: {{ workshop.title }}</h2>

<p>
{{ workshop.description|safe }}
</p>
{% endblock %}

{% block side-content %}
<p><strong>Facilitador:</strong> {{ workshop.trainer }}</p>

<p>
<strong>Costo:</strong> {{ workshop.cost }} Bs. <br/>
<strong>Duración:</strong> {{ workshop.duration|time:"f" }} horas. 
</p>

<p>El número máximo de participantes ya ha sido alcanzado.</p>
{% endblock %}
