{% extends "base.html" %}

{% block title %}Formulario de Inscripción | {{ block.super }}{% endblock %}

{% block content %}
<h2>Formulario de Inscripción: {{ step }} de {{ step_count }}</h2>

{% if form.errors %}
<p class="error"> Por favor corrige los errores a continuación. </p>
{% endif %}

<form action="." method="post">
    <table>
        <tr>
            <td><label for="id_first_name">Nombre(s)</label></td>
            <td>
                {% if form.first_name.errors %}
                <div class="error">
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                </div>
                {% else %}
                {{ form.first_name }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_last_name">Apellido(s)</label></td>
            <td>
                {% if form.last_name.errors %}
                <div class="error">
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                </div>
                {% else %}
                {{ form.last_name }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_email">Dirección de correo electrónico</label></td>
            <td>
                {% if form.email.errors %}
                <div class="error">
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                {% else %}
                {{ form.email }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_organization">Organización/Empresa</label></td>
            <td>
                {{ form.organization }}
            </td>
        </tr>
        <tr>
            <td><label for="id_phone">Número de teléfono</label></td>
            <td>
                {% if form.phone.errors %}
                <div class="error">
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>
                {% else %}
                {{ form.phone }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_address">Dirección</label></td>
            <td>
                {% if form.address.errors %}
                <div class="error">
                    {{ form.address.errors }}
                    {{ form.address }}
                </div>
                {% else %}
                {{ form.address }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_city">Ciudad</label></td>
            <td>
                {% if form.city.errors %}
                <div class="error">
                    {{ form.city.errors }}
                    {{ form.city }}
                </div>
                {% else %}
                {{ form.city }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_country">País</label></td>
            <td>
                {% if form.country.errors %}
                <div class="error">
                    {{ form.country.errors }}
                    {{ form.country }}
                </div>
                {% else %}
                {{ form.country }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="id_is_student">Estudiante?</label></td>
            <td>
                {{ form.is_student }}
            </td>
        </tr>
        <tr>
            <td><label for="id_is_from_other_city">De otra ciudad?</label></td>
            <td>
                {{ form.is_from_other_city }}
            </td>
        </tr>
        <tr>
            <td><label for="id_status">Estatus</label></td>
            <td>
                {{ form.status }}
            </td>
        </tr>
    </table>

    <p><input type="submit" value="continuar"></p>
</form>
{% endblock %}
